.page-wrapper {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 61px 0 30px 0;
}
h1 {
    display: inline;
}
.site-head {
    font-size: 80px;
    color: deepskyblue;
}
.site-head-begin {
    color: black;
}
.navbar {
    margin: 38px 0 50px 0;
    background: #35444F;
    height: 72px;
    width: 1280px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 24px;
}
.nav-item {
    font-size: 24px;
    color: white;
    padding: 22px 38px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.nav-item:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #222F3A;
    box-sizing: border-box;
}
.inline-block {
    display: inline-block;
}
.main-section {
    margin-bottom: 54px;
}
.main-section-side {
    margin-right: 45px;
    vertical-align: top;
}
.side-bar {
    width: 344px;
    height: 400px;
    border: 1px solid black;
}
.side-bar-list-item {
    width: 344px;
    height: 80px;
}
.side-bar-item {
    padding: 26px 44px;
    font-size: 27px;
    color: #485863;
    display: block;
}
.side-bar-item:hover {
    padding: 26px 75px;
    color: #35444F;
    background-color: #DBDBDB;
}
.main-section-content {
    width: 885px;
    box-sizing: border-box;
}
.img-div {
    overflow: hidden;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 42px;
    padding: 75px 268px 73px 297px;
}
.main-img {
    width: 320px;
    height: 381px;
    transition: all .5s ease-out;
}
.main-img:hover {
    transform: scale(1.15);
}
.main-section-content-text {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}
.bottom-section {
    background: rgba(99, 105, 110, 0.48);
    box-sizing: border-box;
    padding-left: 43px;
    padding-top: 20px;
    height: 69px;
    width: 1280px;

}
.footer-bar-item {
    font-size: 28px;
    color: #2C2C2C;
    padding: 10px 22px 5px 22px;
}
.footer-bar-item:hover {
    color: #3181A6;
    border-bottom: #3181A6 2px solid;
}
.footer-copyright {
    margin-left: 100px;
    font-size: 24px;
}