@font-face {
    src: url("../fonts/NewsGothicStd.svg");
    src: url("../fonts/NewsGothicStd.eot");
    src: url("../fonts/NewsGothicStd.woff");
    src: url("../fonts/NewsGothicStd.woff2");
    src: url("../fonts/NewsGothicStd.ttf");
    font-family: News Gothic Std, sans-serif;
}

.sw-wrapper {
    font-family: News Gothic Std, sans-serif;
    background: black;
    height: 100vh;
    overflow: hidden;
    perspective: 8px;
}
.sw-text-container {
    margin: 0 auto;
    font-weight: bold;
    color: goldenrod;
    width: 60%;
    transform: translate3d(0, 0, -3px) rotate3d(1, 0, 0, .8deg);
}
.episode-head {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}
.episode-desc {
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 50px;
    line-height: 60px;
}
.text-moving {
    transform: translate(0, 99vh);
    animation: star-wars-animation 30s linear infinite;
}
@keyframes star-wars-animation {
    from {
        transform: translate(0, 99vh);
    }
    to {
        transform: translate(0, -100vh);
    }
}