.page-background {
    background-image: url("../img/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.page-wrapper {
    font-family: 'Roboto', sans-serif;
    width: 1366px;
    margin: 0 auto;
    padding: 49px 152px 15px 155px;
    box-sizing: border-box;
}
.top-section {
    margin-bottom: 40px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.head-link {
    float: left;
}
.head-img {
    margin-right: 15px;
    background-image: url("../img/logo3.png");
    width: 46px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.head-link:hover .head-img {
    background-image: url("../img/logo2.png");
}
.head-link:hover .site-head {
    color: #F26522;
}
.site-head {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 29px;
    line-height: 21px;
    text-transform: uppercase;
}
.site-head-below {
    font-size: 18px;
}
.contact {
    float: right;
    color: white;
    font-size: 18px;
    line-height: 21px;
}
.mail {
    margin-bottom: 17px;
}
.phone {
    clear: right;
}
.main {
    margin-bottom: 8px;
}
.container {
    float: left;
    margin-right: 67px;
    margin-bottom: 65.5px;
}
.margin-right-0 {
    margin-right: 0;
    float: right;
}
.container-link {
    display: inline-block;
}
.container-img-slide {
    height: 200px;
    overflow: hidden;
}
.container-img {
    background-image: linear-gradient(to right, white, #F26522);
    box-sizing: border-box;
    padding: 1px;
    width: 307px;
    height: 200px;

}
.slide-bar {
    width: 307px;
    height: 63px;
    padding: 11px 20px 16px 21px;
    box-sizing: border-box;
    background-color: #F26522;
    color: white;
    line-height: 21px;
    visibility: hidden;
    position: relative;
    bottom: 3px;
    transition: all .5s ease-out;
}
.slide-desc {
    font-size: 10px;
    float: left;
    vertical-align: top;
}
.slide-price {
    font-size: 20px;
    float: left;
    clear: left;
}
.slide-details {
    font-size: 14px;
    float: right;
}
.slide-details::after {
    content: '';
    width: 5px;
    height: 10px;
    float: right;
    margin-left: 24px;
    background-image: url("../img/Vector1.png");
    background-size: cover;
    position: relative;         /*я так до конца и не понял как правильно разместить эту стрелку*/
    bottom: -5px;               /*но вот эта херня сработала. я понимаю как именно, но не понимаю почему*/

}
.container-link:hover .slide-bar {
    visibility: visible;
    transform: translate(0, -63px);
}
.container-link:hover .container-description {
    color: #F26522;
}
.container-description {
    color: white;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 18.5px;
}
.bottom-section {
    text-align: center;
    margin-bottom: 15px;
}
.footer-content {
    color: white;
    font-size: 12px;
    line-height: 21px;
}
