.page-background {
    background: url("../img/background.png") no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.head-bar {
    height: 66px;
    width: 100%;
    background: rgba(0, 0, 0, .41);
    position: relative;
}
.head-right {
    float: right;
}
.inline-block {
    display: inline-block;
}
.head-link {
    color: white;
    font-size: 20px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 81px;
    float: left;
}
.site-head {
    transition: color 0.6s;
}
.site-head:hover {
    color: #3CB878;
    transition: color 0.6s;
}
.sprite {
    background: url("../img/spritesheet.png") no-repeat;
}
.calendar {
    background-position: -60px -5px;
    width: 19px;
    height: 19px;
    margin-top: 21px;
    margin-right: 28px;
}
.calendar:hover {
    background-position: -89px -5px;
    /*transition: 0.6s;*/
}
.forum {
    width: 28px;
    height: 20px;
    background-position: -118px -5px;
    margin-top: 20px;
    margin-right: 28px;
}
.forum:hover {
    background-position: -156px -5px;
    /*transition: 0.6s;*/
}
.journey {
    width: 20px;
    height: 20px;
    background-position: -194px -5px;
    margin-top: 20px;
    margin-right: 56px;
}
.journey:hover {
    background-position: -224px -5px;
    /*transition: 0.6s;*/
}
.log-line {
    margin-top: 24px;
    margin-right: 9px;
    color: white;
    font-size: 14px;
    line-height: 21px;
}
.sign-line {
    margin-top: 24px;
    margin-right: 71px;
    color: white;
    font-size: 14px;
    line-height: 21px;
}
.log-sign-link {
    color: #3CB878;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    position: relative;
    margin: calc((99vh - 59px - 584px)/2) auto;    /*почему-то если написать 100vh то появится возможность скролла в браузере*/
    width: 444px;
    background: white;
    box-sizing: border-box;
    padding: 29px 60px 0 60px;
}
.container::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}
.section-head {
    font-size: 20px;
    line-height: 21px;
    color: #434343;
    display: inline-block;
    margin: 0 210px 19px 0;
}
.section-login {
    font-size: 14px;
    line-height: 21px;
    color: #3CB878;
}
.social-login-btn {
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 21px;
    color: white;
    border-radius: 4px;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
}
.facebook-login {
    background: #305DB8;
    padding: 14px 20px 14px 21px;
}
.facebook-logo {
    width: 10px;
    height: 20px;
    background-position: -40px -5px;
    display: inline-block;
    float: left;
}
.facebook-login-text {
    float: right;
}
.facebook-login::after {
    content: '';
    position: absolute;
    border-left: 1px solid #0A162F;
    opacity: .1;
    left: 48px;
    top: 10px;
    height: 28px;

}
.google-login {
    background: #DF4A32;
    margin: 0 0 29px 0;
    padding: 16px 30px 16px 15px;
}
.google-login::after {
    content: '';
    position: absolute;
    border-left: 1px solid #2B0D09;
    opacity: .1;
    left: 49px;
    top: 10px;
    height: 28px;
}
.google-logo {
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
    display: inline-block;
    float: left;
}
.google-login-text {
    float: right;
}
.upper-form-choose-your-destiny {
    margin-bottom: 19px;
    display: block;
    text-align: center;
}
.registration-form {

}
.registration-form-input {
    width: 100%;
    height: 46px;
    margin-bottom: 9px;
    color: black;
    font-size: 14px;
    line-height: 21px;
    padding: 16px 0 16px 18px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    display: block;
}
.registration-form-input::placeholder {
    color: #BEBEBE
}
.registration-form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.last-input {
    margin-bottom: 19px;
}
.form-agree {
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
}
.form-agree-checkbox {
    opacity: 0;
    position: absolute;
}
.form-custom-checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    transform: rotate(0deg) scale(1);
    position: absolute;
}
.form-agree-checkbox:checked ~ .form-custom-checkbox::after {
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    transform: rotate(0deg) scale(1);
    position: absolute;
}
/*я думаю можно было сделать галочку одним элементом*/
/*но тогда угол был бы только 45*/
/*конечно это всё не имеет значения - это же просто галочка*/
/*в макете же он другой, угол у галочки. и в тз написано галочка "как на макете"*/
/*и мне захотелось упороться*/
.form-agree-checkbox:checked ~ .form-custom-checkbox::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 10px;
    height: 10px;
    border-left: 2px solid #3CB878;
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;
    transform: rotate(-45deg) scale(1);
    transform-origin: bottom left;
}
.form-agree-checkbox:checked ~ .form-custom-checkbox::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 10px;
    width: 15px;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-60deg) scale(1);
    transform-origin: bottom left;
    border-top: hidden;                 /*почему-то если это не прописать, то хром дорисовывает*/
    border-right: hidden;               /*остальные грани родительским бордером*/
    border-left: hidden;
}
.form-agree-text {
    margin-left: 32px;
}
.terms-link {
    color: #3CB878;
}
.create-acc-btn {
    height: 46px;
    width: 100%;
    background: #3CB878;
    color: white;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 32px;
}