@font-face {
    src: url("../fonts/Arimo.eot");
    src: url("../fonts/Arimo.svg");
    src: url("../fonts/Arimo.ttf");
    src: url("../fonts/Arimo.woff");
    src: url("../fonts/Arimo.woff2");
    font-family: Arimo, sans-serif;
}
.page-table {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #484848;
    max-width: 1200px;
    margin: 0 auto;
    border: 25px solid #3A4965;
}
.table-heads {
    font-weight: bold;
    border-bottom: 12px solid #3A4965;
}
.upper-head-line {
    font-size: 14px;
    line-height: 28px;
}
.lower-head-line {
    font-size: 20px;
    line-height: 28px;
}
.plan-heads-cell {
    background: #FAFAFA;
    height: 115px;
    width: 201px;
}
.column-head-cell {
    height: 73px;
    width: 280px;
    color: white;
    /*font-weight: bold;*/
    font-size: 24px;
    line-height: 28px;
}
.standart-head-cell {
    background: #89C331;
}
.ultimate-head-cell {
    background: #F04A56;
    font-size: 30px;
}
.premium-head-cell {
    background: #20807C;
}
.plan-name {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
}
.price {
    font-size: 35px;
    position: absolute;
    top: 50px;
    left: 15px;
}
.price-rest {
    font-size: 18px;
    position: absolute;
    left: 75px;
    top: 42px;
}
.term {
    font-size: 14px;
    position: absolute;
    top: 60px;
    left: 100px;
}
.icon {
    content: '';
    color: #848484;
    font-size: 20px;
    margin-right: 10px;
}
.storage-cell {
    background: #E3E3E3;
    height: 72px;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #D9D9D9;
}
.bandwidth-cell {
    background: #F2F2F2;
    height: 72px;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #D9D9D9;
}
.email-cell {
    background: #E3E3E3;
    height: 72px;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #D9D9D9;
}
.support-cell {
    background: #F2F2F2;
    height: 72px;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #D9D9D9;
}
.products-cell {
    background: #E3E3E3;
    height: 72px;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #D9D9D9;
}
.users-cell {
    background: #F2F2F2;
    height: 72px;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #D9D9D9;
}
.plan-cell {
    width: 200px;
    height: 165px;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
}
.standart-plan-cell {
    background: #89C331;
}
.ultimate-plan-cell {
    background: #F04A56;
}
.premium-plan-cell {
    background: #20807C;
}
.plan-buy-btn {
    background: #414141;
    height: 44px;
    width: 147px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}
.plan-buy-btn:hover .for-btn-hover {
    display: none;
}
.plan-buy-btn:hover::before {
    content: 'shut up and take my money';
    font-size: 9px;
}
