body {
    font-family: 'Montserrat', sans-serif;
}




.header-section {
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
}
.logo-link {
    color: white;
    display: flex;
    align-items: center;
}
.site-logo-container {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    width: 60px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.site-logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}
.site-pre-head {
    font-size: 32px;
    line-height: 48px;
}
.site-head {
    font-size: 32px;
    line-height: 48px;
    font-weight: 900;
    color: #18CFAB;
}
.nav-bar {
    display: flex;
}
.nav-item {
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box;
}
.nav-item:first-child {
    margin-left: 0;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    padding: 48px 0;
    transition: color .35s ease, border-bottom .35s ease;
    border-bottom: rgba(0, 0, 0, 0) solid 2px;
}
.nav-link:hover {
    color: #18CFAB;
    border-bottom: #18CFAB solid 2px;
}
.nav-search-btn {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    margin-left: 22px;
}
.search-svg {
    transition: .35s;
}
.search-svg:hover {
    fill: #18CFAB;
}




.we-are-creative-section {
    background: url("../img/sections-background/section-1.jpg") no-repeat fixed;
    padding: 380px 0 245px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wordpress-theme-ham {
    font-size: 35px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.wordpress-theme-link {
    color: #18CFAB;
}
.we-are-head {
    font-size: 78px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.under-head-we-are {
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 134px;
}
.btn {
    width: 169px;
    height: 63px;
    color: white;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 -5px white;
    outline: none;
    cursor: pointer;
}
.green-btn {
    margin-right: 26px;
    background: #18CFAB;
}
.blue-btn {
    background: #00CBF6;
}



.options-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.options-item {
    width: calc(99vw / 4);
    height: 370px;
    box-sizing: border-box;
    border-top: 8px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 95px 0 110px;
}
.options-item:nth-child(odd) {
    background: #1C2A33;
    color: #18CFAB;
}
.options-item:nth-child(even) {
    background: #18CFAB;
    color: white;
}

.options-item-name {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
}


.our-services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px 0 90px 0;
}
.section-head {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    margin-bottom: 101px;
}
.section-head::before {
    content: "";
    width: 80px;
    height: 2px;
    background: #18CFAB;
    position: absolute;
    top: calc(100% + 25px);
    left: calc(45% - 40px);
}
.section-head::after {
    content: "";
    width: 80px;
    height: 2px;
    background: #18CFAB;
    position: absolute;
    top: calc(100% + 30px);
    left: calc(55% - 40px);
}
.our-services-container {
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tab-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-bottom: 25px;
}
.tab-item {
    width: calc(1160px / 6);
    padding: 15px 0 15px 0;
    border: #EDEFEF solid 1px;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    transition: border .35s ease;
    cursor: pointer;
    text-align: center;
    background: #F8FCFE;
}
.tab-item:hover {
    border: #18CFAB solid 1px;
}
.active-tab {
    background: #18CFAB;
    color: white;
    border: none;
    position: relative;
}
.active-tab::after {
    content: "";
    position: absolute;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 15px;
    width: 28px;
    background: #18CFAB;
    top: 100%;
    left: calc(50% - 14px);
}
.tab-content-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 139px;
    grid-column-gap: 15px;
    justify-content: space-between;
}
.tab-content {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}



.buy-and-install-section {
    background: url("../img/sections-background/section-2.jpg") rgba(0, 0, 0, .8) no-repeat fixed;
    padding: 125px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}
.buy-section-head {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 12px;
}
.buy-section-under-head {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 70px;
}


.amazing-work-section {
    background: #E9EDEF;
    padding: 95px 0 99px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amazing-head {
    margin-bottom: 97px;
}
.amazing-tab-list {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    margin-bottom: 71px;
}
.amazing-tab-item {
    padding: 15px;
    border: #DADADA solid 1px;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    cursor: pointer;
    transition: .35s;
}
.amazing-tab-item:hover {
    color: #18CFAB;
}
.first-amazing-tab {
    padding: 15px 28px;
}
.amazing-active-tab {
    border: #18CFAB solid 1px;
    color: #18CFAB;
}
.amazing-work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1160px;
}
.amazing-work-item {
    position: relative;
    overflow: hidden;
    display: flex;
}
.amazing-work-hidden {
    display: none;
}
.amazing-work-item-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-top: #18CFAB solid 2px;
    /*padding: 45px 0 30px 0;*/
    background: white;
    height: 206px;
    width: 284px;
    position: absolute;
    top: 100%;
    left: 100%;
    transition: .4s;
}
.amazing-work-item:hover .amazing-work-item-hover {
    top: 0;
    left: 0;

}
.amazing-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.amazing-hover-btn {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #18CFAB;
    cursor: pointer;
    transition: .35s;
}
.amazing-svg-hover {
    transition: .35s;
}
.amazing-hover-btn:hover {
    background-color: #18CFAB;
}
.amazing-hover-btn:hover .amazing-svg-hover {
    fill: white;
}
.amazing-item-head {
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: #18CFAB;
    margin-bottom: 10px;
}
.amazing-item-category {
    font-size: 12px;
    color: #8A8A8A;
}
.load-more-btn {
    box-shadow: none;
    background: #18CFAB;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross-icon {
    clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
    background: white;
    height: 18px;
    width: 18px;
    margin-right: 15px;
}




.breaking-news-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 82px 0 129px 0;
}
.news-head {
    margin-bottom: 101px;
}
.breaking-news-container {
    display: grid;
    max-width: 1160px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 45px;
}
.news-image-container {
    position: relative;
    margin-bottom: 5px;
}
.news-date-container {
    position: absolute;
    top: 0;
    right: 0;
    background: #203E38;
    display: flex;
    flex-direction: column;
    padding: 6px 15px;
    align-items: center;
    transition: background-color .35s ease;
}
.date {
    color: white;
    font-size: 16px;
    line-height: 25px;
}
.news-head-container {
    padding-left: 15px;
}
.news-item-head {
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    font-weight: 900;
    transition: color .35s ease;
}
.news-underline {
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}
.news-author {
    padding-right: 15px;
}
.news-comments {
    padding-left: 15px;
    border-left: #777777 solid 1px;
}
.news-item-link:hover .news-date-container {
    background-color: #18CFAB;
}
.news-item-link:hover .news-item-head {
    color: #18CFAB;
}


.about-theham-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 98px 0;
    background: url("../img/sections-background/section-3.jpg") rgba(0, 0, 0, .45) no-repeat fixed;
    background-blend-mode: multiply;
}
.about-section-head {
    color: white;
    margin-bottom: 99px;
}
.slide-item-big {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    align-items: center;
}
.slide-photo {
    border-radius: 50%;
    border: rgba(31, 218, 181, .7) solid 8px;
}
.slide-text {
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
    margin-bottom: 37px;
}
.slide-name {
    font-size: 16px;
    line-height: 27px;
    font-weight: 900;
    color: #18CFAB;
    text-transform: uppercase;
}
.slide-position {
    font-size: 16px;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 38px;
}
.quotes {
    font-family: serif;
    font-size: 70px;
    font-weight: 700;
    color: #18CFAB;
}
.swiper-container {
    max-width: 1160px;
    margin: 0 auto;
}
.lower-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
.small-slide {
    height: 60px;
    transition: .5s;
}
.swiper-slide-active{
    transition: .5s;
    transform: translateY(-15px);
}

.swiper-button-prev,
.swiper-button-next {
    height: 31px;
    width: 31px;
    border: 1px solid #BBBBBB;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .35s;
    outline: none;
}
.swiper-button-next {
    transform: translateX(-300px);
}
.swiper-button-prev {
    transform: translateX(300px);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #18CFAB;
    border: none;
}
.svg-hover {
    transition: .35s;
}
.swiper-button-prev:hover .svg-hover {
    fill: white;
}
.swiper-button-next:hover .svg-hover {
    fill: white;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-wrapper {
    padding-top: 50px;
}
.slide-btn-container {
    position: relative;
    top: -35px;
}




.footer-section {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #AEAEAE;
    background: #22353F;
    padding: 50px 0;
}
.footer-link {
    color: #18CFAB;
}
.footer-text {
    margin-right: 7px;
}
.footer-rights {
    padding-left: 7px;
    border-left: #AEAEAE 1px solid;
}

.best-images-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 108px 0 80px 0;
}
.best-images-head {
    margin-bottom: 115px;
}
.grid {
    width: 1160px;
    margin: 0 auto;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    position: relative;
    display: flex;
    float: left;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.grid-item-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: left;
    background-color: rgba(0, 0, 0, .45);
    visibility: hidden;
    opacity: .1;
    transition: visibility .35s, opacity .3s;
}
.best-images-btn {
    height: 30px;
    width: 30px;
    background-color: #14B9D5;
    outline: none;
    cursor: pointer;
}
.best-images-btn:last-child {
    margin-left: 20px;
}
.grid-item:hover .grid-item-hover {
    visibility: visible;
    opacity: 1;
}
/*.grid-sizer {*/
/*    width: calc((100% / 3) / 3);*/
/*}*/

.load {
    position:relative;
    width:600px;
    height:36px;
    margin-top: 70px;
    overflow:visible;
    user-select:none;
    cursor:default;
    display: none;
}

.load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color: #18CFAB;
}

.load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
.load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
.load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
.load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
.load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
.load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}
.load-visible {
    display: block;
}
@keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left: 41%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-moz-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -webkit-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-o-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}
