body {
    background: rgba(0, 0, 0, .0001);
    /*width: 1280px;*/
    margin: 0 auto;
}
header {
    text-align: center;
}
.navigation-bar {
    margin: 50px;
}
.nav-btn {
    text-transform: uppercase;
    color: #ff0000;
    margin: 0 60px;
    font-weight: bold;
    font-size: 18px;
}
.photo {
    margin: 0 0 50px 0;
    width: 100vw;
}
.text-color {
    color: #373737;
}
.head-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 27px;
}
.uh-text {
    margin: 30px 5.3vw;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
}
.start-btn {
    height: 54px;
    width: 195px;
    background: #ff0000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 50px;
}
.foot-text {
    letter-spacing: 3px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 65px 0 55px 55vw;
}