@font-face {
    src: url("../fonts/Arimo.eot");
    src: url("../fonts/Arimo.svg");
    src: url("../fonts/Arimo.ttf");
    src: url("../fonts/Arimo.woff");
    src: url("../fonts/Arimo.woff2");
    font-family: Arimo, sans-serif;
}
.page-table {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #484848;
    max-width: 1200px;
    margin: 0 auto;
    border: 25px solid #3A4965;
}
.table-heads {
    font-weight: bold;
}
.upper-head-line {
    font-size: 18px;
    line-height: 28px;
}
.lower-head-line {
    font-size: 30px;
    line-height: 28px;
}
.plan-heads-cell {
    background: #FAFAFA;
    /*padding-top: 51px;*/
    border-right: 2px solid #E7E7E7;
}
.price-cell {
    background: #FAFAFA;
    height: 89px;
    width: 280px;
}
.column-head-cell {
    height: 73px;
    width: 280px;
    color: white;
    /*font-weight: bold;*/
    font-size: 24px;
    line-height: 28px;
}
.standart-head-cell {
    background: #89C331;
}
.ultimate-head-cell {
    background: #F04A56;
    font-size: 30px;
}
.premium-head-cell {
    background: #20807C;
}
.price-cell {
    position: relative;
}
.price {
    font-weight: bold;
    font-size: 60px;
    position: absolute;
    left: 35px;
    bottom: 3px;
}
.price-rest {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 135px;
    top: 18px;
}
.term {
    font-size: 18px;
    position: absolute;
    left: 140px;
    bottom: 17px;
}
.icon {
    content: '';
    color: #848484;
    font-size: 20px;
    margin-right: 10px;
}
.condition-column-cell {
     width: 313px;
 }
.regular-data-cell {
    height: 72px;
    width: 280px;
    font-size: 16px;
    line-height: 28px;
    border-right: 2px solid #E7E7E7;
}
.storage-cell {
    background: #F2F2F2;
}
.bandwidth-cell {
    background: #E3E3E3;
}
.email-cell {
    background: #F2F2F2;
}
.support-cell {
    background: #E3E3E3;
}
.products-cell {
    background: #F2F2F2;
}
.users-cell {
    background: #E3E3E3;
}
.btn-cell {
    background: #E3E3E3;
    height: 150px;
    width: 280px;
    font-size: 16px;
    line-height: 28px;
    border-right: 2px solid #E7E7E7;
}
.contact-cell {
    background: #DDDDDD;
}
.standart-plan-cell {
    background: #EEEEEE;
}
.ultimate-plan-cell {
    background: #F4F4F4;
}
.premium-plan-cell {
    background: #EEEEEE;
}
.contact-btn {
    background: #484848;
    height: 54px;
    width: 195px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    transition: background-color 1s ease;
}
.contact-btn:hover {
    transition: background-color 1s ease;
    background-color: #DDDDDD;
}
.contact-btn:hover .contact-hover {
    transition: color 1s ease;
    color: #DDDDDD;
}
.standart-btn {
    background: #89C331;
    height: 54px;
    width: 195px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}
.standart-btn:hover .for-btn-hover {
    display: none;
}
.standart-btn:hover::before {
    content: 'shut up and take my money';
    font-size: 15px;
}
.ultimate-btn {
    background: #F04A56;
    height: 54px;
    width: 195px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}
.ultimate-btn:hover .for-btn-hover {
    display: none;
}
.ultimate-btn:hover::before {
    content: 'shut up and take my money';
    font-size: 15px;
}
.premium-btn {
    background: #20807C;
    height: 54px;
    width: 195px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}
.premium-btn:hover .for-btn-hover {
    display: none;
}
.premium-btn:hover::before {
    content: 'shut up and take my money';
    font-size: 15px;
}