.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-input {
    width: 100px;
    height: 25px;
    border-radius: 7px;
    outline: none;
}
.price-string-container {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    margin-bottom: 10px;
}
.price-label {
    display: block;
    padding: 20px;
    background: oldlace;
    border-radius: 5px;
    width: 150px;
    margin-bottom: 10px;
}
.price-string {
    margin-right: 5px;
}
.close-btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    background-color: white;
}
.line {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    height: 2px;
    width: 16px;
    background: black;
    transform-origin: center;
}
.first {
    transform: rotate(45deg);
}
.second {
    transform: rotate(-45deg);
}

.input-name {
    margin-right: 5px;
}
.focus {
    border-color: lawngreen;
}
.incorrect {
    border-color: red;
}