@font-face {
    src: url("../fonts/FuturaBT-Bold.svg");
    src: url("../fonts/FuturaBT-Bold.ttf");
    src: url("../fonts/FuturaBT-Bold.eot");
    src: url("../fonts/FuturaBT-Bold.woff");
    src: url("../fonts/FuturaBT-Bold.woff2");
}

.parallax-wrapper {
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.header-section {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background: white;
    position: absolute;
    top: 30px;
    z-index: 2;
}
.site-head {
    font-family: Roboto, sans-serif;
    padding: 40px 0;
}
.site-head-link {
    font-size: 36px;
    display: flex;
}
.head-link-company {
    color: #424F57;
    font-weight: 300;
}
.head-link-name {
    color: #14AFCA;
    font-weight: 900;
    text-transform: uppercase;
}
.nav-bar {
    font-family: 'Open Sans', sans-serif;
}
.nav-item {
    display: inline-block;
    padding: 0 25px;
}
.nav-item:hover .nav-link {
    color: #14AFCA;
}
.nav-link {
    font-size: 15px;
    color: #3E4C4E;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color .35s ease;
    font-weight: bold;
}

.themes-section {
    padding: 300px 0 135px 0;
    font-family: 'Futura Md BT', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
}
.themes-head {
    font-size: 52px;
    text-transform: uppercase;
    line-height: 75px;
    font-weight: bold;
    color: white;
}
.themes-section::before {
    content: '';
    background: url("../img/themes/themes_bg1.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}
.themes-section::after {
    content: '';
    border-top: transparent 85px solid;
    height: 0;
    width: 0;
    border-right: white 50vw solid;
    border-left: white 50vw solid;
    border-bottom: transparent 85px solid;
    position: absolute;
    top: calc(100% - 85px);
    left: 0;
    right: 0;
}

.what-section {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-bottom: 90px;
}
.what-head {
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    margin-top: 120px;
}
.what-head-underline {
    font-weight: bold;
    font-size: 18px;
    color: #424F57;
    margin-top: 40px;
    display: block;
}
.what-desc {
    color: #424F57;
    font-size: 16px;
    line-height: 30px;
    width: 70vw;
    max-width: 1000px;
    margin: 40px auto;
}

.companies-section {
    text-align: center;
    position: relative;
    background: rgba(0, 0, 0, .7);
    padding: 150px 0 170px 0;
    overflow: hidden;
}
.companies-section::before {
    content: '';
    background: url("../img/companies/companies_bg2.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}
.companies-section::after {
    content: '';
    border-top: white 85px solid;
    height: 0;
    width: 0;
    border-right: transparent 50vw solid;
    border-left: transparent 50vw solid;
    border-bottom: transparent 85px solid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.companies-link-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 120px;
}
.companies-head {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
}
.companies-head-underline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    display: block;
}
.adobe {
    padding: 20px 15px;
    background: white;
    display: flex;
    align-items: center;
}

.meet-section {
    font-family: Roboto, sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 80px;
}
.meet-section::after {
    content: '';
    border-top: white 85px solid;
    height: 0;
    width: 0;
    border-right: transparent 50vw solid;
    border-left: transparent 50vw solid;
    border-bottom: transparent 85px solid;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}
.meet-head {
    margin-top: 150px;
    font-size: 60px;
    color: #14AFCA;
    font-weight: bold;
    text-transform: uppercase;
}
.meet-head-underline {
    color: #424F57;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
    display: block;
}
.meet-container {
    margin: 50px auto;
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
}
.meet-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}
.meet-img {
    width: 207px;
}
.meet-desc {
    line-height: 28px;
    font-size: 15px;
    color: #424F57;
    margin-top: 20px;
}

.testimonials-section {
    font-family: Roboto, sans-serif;
    padding: 190px 0 145px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, .7);
}
.testimonials-section::before {
    content: '';
    background: url("../img/testimonials/testimonials_bg3.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}
.testimonials-section::after {
    content: '';
    border-top: transparent 85px solid;
    height: 0;
    width: 0;
    border-right: white 50vw solid;
    border-left: white 50vw solid;
    border-bottom: transparent 85px solid;
    position: absolute;
    top: calc(100% - 85px);
    left: 0;
    right: 0;
}
.testimonials-head {
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    font-weight: bold;
}
.testimonials-head-underlines {
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
}
.testimonials-desc {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
    color: #D3CCCC;
    line-height: 28px;
    width: 60vw;
    display: block;
    margin: 0 auto;
}
.testimonials-autor {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: white;
    margin-left: 40%;
    margin-top: 30px;
    display: inline-block;
}

.why-section {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 105px 0 95px 0;
}
.why-head {
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    font-weight: bold;
}
.why-head-underline {
    font-size: 18px;
    font-weight: bold;
    color: #424F57;
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}
.why-desc {
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 88px;
    color: #3D3C3C;
    font-size: 14px;
    letter-spacing: 1px;
}
.footer-design {
    margin-top: 10px;
}
.design-link {
    font-weight: 900;
    color: #3D3C3C;
}