html {
    scroll-behavior: smooth;
}
body {
    font-family: Open Sans, sans-serif;
}
.up-btn {
    background-color: rgba(0, 0, 0, 0);
    height: 70px;
    width: 70px;
    position: fixed;
    right: 35px;
    bottom: 35px;
    visibility: hidden;
    opacity: .2;
    transition: opacity .3s, background-color .3s;
    cursor: pointer;
    border-radius: 50%;
    border: #14B9D5 solid 1px;
    z-index: 10;
    outline: none;
}
.up-btn-svg {
    transition: .3s;
}
.up-btn:hover .up-btn-svg {
    fill: white;
}
.up-btn:hover {
    background-color: #14B9D5;
}
.up-btn-show {
    visibility: visible;
    opacity: 1;
}
.site-head {
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.sprite {
    background-image: url("../img/spritesheet.png");
}
.site-head-container {
    margin-left: 20px;
}
.site-head-link {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 20px;
}
.site-logo-icon {
    width: 27px;
    height: 27px;
    background-position: -835px -5px;;
}
.site-head-text {
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin-left: 30px;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-list {
    display: flex;
    padding: 10px 0;
}
.nav-bar-item {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 0 15px;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navigation-item {
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    padding: 0 15px;
}
.search-button {
    background-color: black;
}
.search-img {
    width: 17px;
    height: 17px;
    background-position: -808px -5px;;
    display: block;
    margin: 25px;
}

.latest-news-section {
    background: url("../img/section-1-bg.jpeg") no-repeat 0 -350px fixed;  /*наверное не правильно использовать отрицательное*/
    background-size: cover;                                                /*значение, но у меня иначе корректно не заработало*/
    text-align: center;
    padding-top: 125px;
}
.latest-news-head {
    font-size: 27px;
    color: white;
    text-transform: uppercase;
}
.latest-news-container {
    display: flex;
    justify-content: center;
}
.latest-news-btn {
    height: 55px;
    width: 170px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 45px 10px;
}
.subscribe-btn {
    background: #89CA62;
}
.articles-btn {
    background: #14B9D5;
    margin-bottom: 150px;
}

.popular-posts-section {
    background: #F2F2F2;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
}
.popular-posts-head {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18B4CF;

}
.popular-posts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 950px;
    /*max-width: 1200px;*/
    /*justify-content: center;*/
    align-content: center;
    margin-top: 55px;
}
.popular-posts-item {
    margin-bottom: 30px;
    background: white;
}
.center-item {
    margin-right: 30px;
    margin-left: 30px;
}
.last-item {
    margin-bottom: 0;
}
.popular-posts-item-desc {
    margin: 20px 0;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.popular-clients-section {
    background: url("../img/clients-section-bg.jpeg") no-repeat fixed;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 100px;
}
.popular-clients-head {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    grid-column: 1 / 5;
    position: relative;
}
.popular-clients-head::after {
    content: '';
    height: 3px;
    width: 60px;
    background: #18B4CF;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.national-post-icon {
    width: 207px;
    height: 28px;
    background-position: -591px -5px;
}
.dryme-icon {
    width: 135px;
    height: 49px;
    background-position: -5px -5px;
}
.house-n-home-icon {
    width: 232px;
    height: 51px;
    background-position: -198px -5px;
}
.journy-icon {
    width: 141px;
    height: 52px;
    background-position: -440px -5px;
}

.top-rated-section {
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
    max-width: 99vw;
    grid-row-gap: 55px;
}
.top-rated-head {
    font-size: 27px;
    color: #18B4CF;
    font-weight: bold;
    text-transform: uppercase;
    grid-column: 1 / 8;
}
.top-rated-item {
    width: calc(99vw / 7);
}

.hot-news-section {
    text-align: center;
    padding-bottom: 40px;
    position: relative;
}
.hot-news-head {
    margin-top: 60px;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18B4CF;
}
.hot-news-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, max-content);
    margin: 50px auto;
    grid-row-gap: 45px;
    grid-column-gap: 35px;
}
.emirates {
    grid-column: 1 / 4;
}
.egypt {
    grid-column: 1 / 3;
}
.maldives {
    grid-column: 3 / 5;
}
.tenerife {
    grid-column: 1 / 3;
}
.great-britain {
    grid-column: 3 / 5;
}
.spain {
    grid-column: 2 / 5;
}
.hot-news-content-row-item {
    display: flex;
    max-height: max-content;
}
.hot-news-content-column-item {
    display: flex;
    flex-direction: column;
}
.head-only {
    background: #F9F7F7;
}
.hot-news-item-img {
    height: max-content;
}
.hot-news-item-desc {
    text-align: right;
    background: #F9F7F7;
    padding-right: 25px;
    padding-bottom: 10px;
}
.item-head {
    font-size: 19px;
    font-weight: bold;
    color: #353A3D;
    margin-top: 20px;
}
.item-text {
    font-size: 14px;
    font-weight: 600;
    color: #5B6469;
    margin-top: 20px;
    line-height: 21px;
}

.footer-section {
    display: flex;
    background: black;
    height: 80px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.footer-copyright {
    font-size: 13px;
    color: white;
}
.footer-company-name {
    display: flex;
    align-content: center;
}
.footer-logo {
    width: 38px;
    height: 24px;
    background-position: -150px -5px;
}
.footer-company-link {                          /* я недосмотрел, что в фигме это картинка, а не текст */
    color: white;                               /* если критично, то переделаю :) */
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.toggle-btn {
    position: absolute;
    top: 0;
    left: 50px;
    background: #14B9D5;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}